<h3>Latest news</h3>
<div class="comments-body">
  <ol class="commentlist">
    <% @posts.order("created_at DESC").limit(10).each do |d| %>

        <li id="comment-48769" class="comment even thread-even depth-1">
          <div class="comment-body" id="div-comment-48769">
            <div class="comment-author vcard">
              <img width="75" height="75" class="avatar avatar-75 photo"
                   src="http://1.gravatar.com/avatar/17369c2ef6cc91d47411525d16556227?s=75&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D75&amp;r=G"
                   alt=""> <cite class="fn"><%= d.user.email.split("@")[0] if d.user %></cite> <span
            class="says">says:</span></div>

            <div class="comment-meta commentmetadata">
              <%= d.created_at.strftime("%B %d, %Y at %I:%M %P") %>
            </div>
            <p><%= d.content %></p>
            <% if current_user %>
                <div class="reply">
                  <%= link_to "Comment", new_post_comment_path(d) %>
                  <!--<a href="#" class="comment-reply-link" data-postid="<%= d.id %>" data-userid="<%= current_user.id %>">Reply</a>-->
                </div>
                <%if current_user == d.user%>
                  <%= button_to "delete", d, :method=>:delete %>
                <%end%>
            <% end %>
            <% if d.comments.any? %>
                <ol class="postcomments">
                  <% d.comments.order("created_at DESC").each do |c| %>
                      <li class="comment-reply">
                        <div class="comment-body">
                          <div class="comment-author vcard">
                            <img width="75" height="75" class="avatar avatar-75 photo" src="http://1.gravatar.com/avatar/17369c2ef6cc91d47411525d16556227?s=75&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D75&amp;r=G" alt="">
                            <cite class="fn"><%= c.user.email.split("@")[0] if c.user %></cite>
                            <span class="says">says:</span>
                          </div>
                          <div class="comment-meta commentmetadata">
                            <%= c.created_at.strftime("%B %d, %Y at %I:%M %P") %>
                          </div>
                          <p><%= c.content %></p>
                        </div>
                      </li>
                  <% end %>
                </ol>
            <% end %>
          </div>
        </li>
        <!-- #comment-## -->
    <% end %>
  </ol>
</div>