<!DOCTYPE html>
<html>
<head>
  <title>Healthi</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top_navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner" style="
  ">
    <div class="container" style="
    ">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="span7">
            <form class="navbar-form form-search">
              <div class="input-append">
                <a class="brand" href="/">Healthi news</a>
                <input class="span4 search-query" type="text" placeholder="Search...">
                <button type="submit" class="btn">Search</button>
              </div>
            </form>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle notification-dd" data-toggle="dropdown">Notifications
              <span class="notif-surround">
                <span class="badge notif-background badge-important" id="notif_background">&nbsp;
                </span>
                <span id="num_notif" style="bottom: 0px;">
                  <%if !current_user.blank?%>
                    <%= current_user.not_seen ? current_user.not_seen.count : 0 %>
                  <%else%>
                    0
                  <%end%>
                </span>
              </span>
              <b class="caret"></b></a>
            <ul class="dropdown-menu" id="notif_list_node">
              <li class="nav-header">Unread News</li>
              <li>
                <table class="table-hover">
                  <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>Nothing new to see here</td>
                  </tr>
                  </tbody>
                </table>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <% if current_user %>
                <img class="img-rounded img-profile inline" src="https://m.ak.fbcdn.net/profile.ak/hprofile-ak-ash4/371739_100000191247312_1824268558_q.jpg">
                <a href="#" class="dropdown-toggle profile-name" data-toggle="dropdown"><%= current_user.email.split("@")[0] %><b class="caret"></b></a>
            <% else %>
                <%= link_to "Sign up", sign_up_path, :class => "dropdown-toggle profile-name"%>|
                <%= link_to "log in", log_in_path, :class => "dropdown-toggle profile-name" %>
            <% end %>
            <ul class="dropdown-menu">
              <li><a href="posts/all">Show all news</a></li>
              <li><%= link_to "Create news post", new_post_path%></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", log_out_path%></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
  <% end %>
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
      <h2>About this app</h2>
      This is an application which will let anybody know who has logged in and who has posted posts on the main wall
      in REAL TIME. yes It uses websockets to serve its purpose and this is built in ruby on rails.
    </div>
  </div>
</div>

<div class="flasher">
  Hello world
</div>
</body>
</html>
